@model AuthorModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Author Details";
}

<h1>@ViewData["Title"]</h1>
@if (TempData["Message"] != null)
{
    <p class="bg-info text-black">@TempData["Message"]</p>
}

<div>
    <h4>Author</h4>
    <hr />
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.Surname)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.IsRetired)
            </dt>
            <dd class="col-10">
                @Html.DisplayFor(model => model.IsRetired)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.AuthorCountOutput)
            </dt>
            <dd class="col-10">
            @Html.DisplayFor(model => model.AuthorCountOutput)
            </dd>
        </dl>
    @if (Model.AuthorCountOutput > 0)
    {
        <dl class="row">
            <dt class="col-2">
                @Html.DisplayNameFor(model => model.BookNamesOutput)
            </dt>
            <dd class="col-10">
                <table>
                    @Html.Raw(Model.BookNamesOutput)
                </table>
                
            </dd>
        </dl>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>&nbsp;|&nbsp;
    <a asp-action="Index">Back to List</a>
</div>



